<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Login Page</title>
    <link th:href="@{resources/css/signin.css}" href="/resources/css/signin.css" rel="stylesheet">
    <link th:href="@{resources/css/bootstrap.css}" href="/resources/css/bootstrap.css" rel="stylesheet">
    </head>
<body>

<form th:action="@{/login}" class="form-signin" method="post" id="form">

    <div><label> Login : <input class="form-control" type="text" name="username" id="login"/> </label></div>
    <div class="alert alert-danger d-none" id="loginEmpty"><span> Please fill out the Login field </span></div>
    <div><label> Password: <input class="form-control" type="password" name="password" id="password"/> </label></div>
    <div class="alert alert-danger  d-none" id="passwordEmpty"><span> Please fill out the Password field </span></div>
    <div th:if="${param.error}" class="alert alert-danger">
        <span>Please make sure you are using a valid email or password</span>
    </div>
    <div th:if="${param.logout}" class="alert alert-info">
        You have been logged out.
    </div>
    <div>
        <button id="submit" class="btn btn-lg btn-primary btn-block" >Sign In</button>
    </div>
</form>
<!--<script th:src="@{resources/js/validation.js}" src="/resources/js/validation.js"></script>-->

</body>
</html>