<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tickets</title>
    <link rel="stylesheet" href="/resources/css/bootstrap.css">
    <style>
        .selected{
        background-color:red}




    </style>
</head>
<body>
<div th:if="${tickets}!=null">
    <div>
        <span>Filter by </span>

        <form method="post">
            <select name="filter" id="filter">
                <th:block th:if="${filter}">
                    <option selected value="ID">id</option>
                    <option value="NAME">name</option>
                    <option value="Desired_Date">Desired Date</option>
                    <option value="Urgency">Urgency</option>
                    <option value="Status">Status</option>
                </th:block>
                <th:block th:unless="${filter}">
                    <option th:selected="${filter =='ID'}" value="ID">id</option>
                    <option th:selected="${filter =='NAME'}" value="NAME">name</option>
                    <option th:selected="${filter =='DESIRED_DATE'}" value="Desired_Date">Desired Date</option>
                    <option th:selected="${filter =='URGENCY'}" value="Urgency">Urgency</option>
                    <option th:selected="${filter =='STATUS'}" value="Status">Status</option>
                </th:block>
            </select>
            <input type="text" name="filterValue" text="">th
            <input type="submit">
        </form>
    </div>
    <table class="table" id="myTable">
        <thead class="table-dark">
        <tr>
            <!--From documentation-->
            <!--<a th:href="@{/order/details(id=${order.id},action=(${user.admin} ? 'show_all' : 'show_public'))}">-->
            <td th:class="${field}==id ? selected">
                <a th:href="@{/tickets?sort=id&isAsc=}+${isAsc == null ? true :isAsc}">Id</a>
            </td>
            <td th:class="${field}==name? selected">
                <a th:href="@{/tickets?sort=name&isAsc=}+${isAsc == null ? true :isAsc}">Name</a>
            </td>
            <td th:class="${field}==desired_date? selected">
                <a th:href="@{/tickets?sort=Desired_Date&isAsc=}+${isAsc == null ? true :isAsc}">Desired Date</a>
            </td>
            <td th:class="${field}==urgency? selected">
                <a th:href="@{/tickets?sort=Urgency&isAsc=}+${isAsc == null ? true :isAsc}">Urgency</a></td>
            <td th:class="${field}==status? selected">
                <a th:href="@{/tickets?sort=Status&isAsc=}+${isAsc == null ? true :isAsc}">Status</a></td>
            <td onclick="sortTable(5)">Action</td>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="ticket : ${tickets}">
            <tr>
                <td th:text="${ticket.id}"></td>
                <td th:text="${ticket.name}"></td>
                <td th:text="${ticket.desiredResolutionDate}"></td>
                <td th:text="${ticket.urgency}"></td>
                <td th:text="${ticket.state}"></td>
                <td th:text="..."></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>